/* css styles */

@import url(https://fonts.googleapis.com/css?family=Murecho:200,300,300i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Murecho:300,400,600&display=swap);
@import url(https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding&display=swap);


.navbar-container {
	width: 100%;
	padding: 20px;
}

p.subtitle {
	margin-top: .25em;
	margin-bottom: .5em;
	text-align: center;
  }

h1.title, .title.h1 {
	margin-top: 0;
	text-align: center;
  }


.icon h1 {
	text-align: center;
	color: #ebb00f;
  }

.center h5 {
	text-align: center;
}
   

a {
	color: #a35905;
  }